<!DOCTYPE html>
<html lang="eng" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<body>
    <div layout:fragment="content">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <form method="POST" th:action="@{/book/new}" th:object="${bookForm}">
                                <div class="form-group row">
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        Title
                                    </div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" name="title" type="text" th:field="*{title}">
                                        <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        Author
                                    </div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" name="author" type="text" th:field="*{author}">
                                        <small class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        Description
                                    </div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <textarea class="form-control form-control-user" name="description" rows="5" cols="20" th:field="*{description}"></textarea>
                                        <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 mb-3 mb-sm-0">

                                    </div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input class="btn btn-success" type="submit" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>